.App {
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  background-color: rgba(112, 111, 211,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  background-color: rgba(71, 71, 135,1.0);
  width: 240px;
  height: 370px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.display {
  position: relative;
  width: 100%;
  text-align: right;
  background-color: rgba(44, 44, 84,1.0);
  margin-bottom: 5px;
  padding: 10px 15px 20px;
  font-size: 40px;
  height: 30px;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.display small {
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgb(112, 111, 211);
}

.numbers-container {
  width: 75%;
}

.operations-container {
  width: 25%;
}

button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border: 1px solid black;
  cursor: pointer;
}
button.grey {
  background-color: rgb(64,64,64);
}
button.orange {
  background-color: rgba(255, 121, 63,1.0);
  width: 120px;
  margin-right: 50px;
}
button.blue {
  background-color: rgba(44, 44, 84,1.0);
}
button.big-h {
  height: 120px;
}
button.big-w {
  width: 120px;
}
button:active {
  transform: scale(0.93);
}
button:hover {
  opacity: 0.8;
}